.DS_Store
.happypack/
node_modules/
npm-debug.log
.idea/
dist
static
public/
private
run
*.iml
artifacts.json
tmp/
*tmp
_site
logs
app/controller/**/*.js
app/middleware/**/*.js
app/mocks/**/*.js
app/router.js
config/**/*.js
index.js
config/buildConfig.json
config/manifest.json
app/view/*
!app/web/**/*.js
!app/view/layout.html
!app/view/README.md
!app/view/.gitkeep
package-lock.json
